<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>map</key>
		<dict>
			<key>map_image_filename</key>
			<string>stage1_map</string>
			<key>frames</key>
			<dict>
				<key>frameStep1</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>754</integer>
					<key>height</key>
					<integer>682</integer>
				</dict>
				<key>frameStep3</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>754</integer>
					<key>height</key>
					<integer>682</integer>
				</dict>
			</dict>
		</dict>
		<key>countries</key>
		<array>
			<dict>
				<key>name</key>
				<string>North Korea</string>
				<key>placeholder_image_filename</key>
				<string>stage1_placeholder_NorthKorea</string>
				<key>game_piece_image_filename</key>
				<string>stage1_gamepiece_NorthKorea</string>
				<key>frames</key>
				<dict>
					<key>frameStep1</key>
					<dict>
						<key>x</key>
						<integer>156</integer>
						<key>y</key>
						<integer>219</integer>
						<key>width</key>
						<integer>118</integer>
						<key>height</key>
						<integer>130</integer>
					</dict>
					<key>frameStep2</key>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
						<key>width</key>
						<real>139</real>
						<key>height</key>
						<real>152</real>
					</dict>
					<key>frameStep3Placeholder</key>
					<dict>
						<key>x</key>
						<integer>156</integer>
						<key>y</key>
						<integer>219</integer>
						<key>width</key>
						<integer>118</integer>
						<key>height</key>
						<integer>130</integer>
					</dict>
					<key>frameStep3GamePiece</key>
					<dict>
						<key>x</key>
						<real>591</real>
						<key>y</key>
						<real>469</real>
						<key>width</key>
						<real>139</real>
						<key>height</key>
						<real>152</real>
					</dict>
					<key>frameStep4</key>
					<dict>
						<key>x</key>
						<integer>156</integer>
						<key>y</key>
						<integer>219</integer>
						<key>width</key>
						<integer>118</integer>
						<key>height</key>
						<integer>130</integer>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
